mat-paginator {
  display: flex;
  justify-content: center;
  font-size: large;
  background: transparent;
  position: relative;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
}
