.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
}

mat-card {
  width: 200%;
}
mat-card-title-group{
  mat-card-title{
    padding: 20px;
  }
  padding: 50px;
  justify-items: flex-start;
}

mat-paginator {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: large;
  background: transparent;
  position: relative;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
}

