<div class="search-container">
  <div class="search-bar">

    <div class="custom-field">
      <mat-label class="custom-label">Tipo di struttura</mat-label>
      <mat-select class="custom-select">
        <ng-container>
          <mat-option *ngFor="let building of buildingTypes" [value]="building.value">{{building.viewValue}}</mat-option>
        </ng-container>
      </mat-select>
    </div>

    <div class="custom-field">
      <mat-label class="custom-label">Tipo di vendita</mat-label>
      <mat-select class="custom-select">
        <ng-container>
          <mat-option *ngFor="let contratct of contractTypes" [value]="contratct.value" [disabled]="contratct.disabled">{{contratct.viewValue}} </mat-option>
        </ng-container>
      </mat-select>
    </div>

    <div class="custom-field">
      <mat-label class="custom-label">luogo</mat-label>
      <mat-select class="custom-select">
        <ng-container>
          <mat-option *ngFor="let building of buildingTypes" [value]="building.value">{{building.viewValue}}</mat-option>
        </ng-container>
      </mat-select>
    </div>

  </div>

  <div class="button-container">
    <button mat-button class="icon-button">
      <mat-icon class="icon">search</mat-icon> <!-- Icona -->
      <span class="button-text">Filtri</span> <!-- Testo che appare al passaggio del mouse -->
    </button>
    <button (click)="onSearch()">Ricerca</button>
  </div>

</div>

