<div class="filters-container">
  <h3 class="title-filters">Filtri</h3>
  <form>
    <label>Prezzo</label>
    <input type="number" placeholder="Da" />
    <input type="number" placeholder="A" />

    <label>Superficie in m2</label>
    <input type="number" placeholder="Da" />
    <input type="number" placeholder="A" />

    <label>N° Locali</label>
    <input type="number" placeholder="Da" />
    <input type="number" placeholder="A" />

    <button type="submit">Applica Filtri</button>
  </form>
</div>
