<div class="filters-container">
  <h3 class="title-filters">Filtri</h3>
  <form>
    <div class="filter-sections">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <div class="filter-header">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="payments"></mat-icon>
              <mat-panel-description class="panels-description">Prezzo</mat-panel-description>
            </div>

          </mat-expansion-panel-header>
          <input class="numberInput" type="number" placeholder="Da" />
          <input class="numberInput" type="number" placeholder="A" />
          <mat-slider min="0" max="1000000">
            <input value="250000" matSliderStartThumb>
            <input value="750000" matSliderEndThumb>
          </mat-slider>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="filter-sections">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <div class="filter-header">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="control_camera"></mat-icon>
              <mat-panel-description class="panels-description">superficie in m²</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <input class="numberInput" type="number" placeholder="Da" />
          <input class="numberInput" type="number" placeholder="A" />
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="filter-sections">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <div class="filter-header">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bedroom"></mat-icon>
              <mat-panel-description class="panels-description">numero dei locali</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <input class="numberInput" type="number" placeholder="Da" />
          <input class="numberInput" type="number" placeholder="A" />
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="filter-sections">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <div class="filter-header">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bathtub"></mat-icon>
              <mat-panel-description class="panels-description">Bagni</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <div style="display: flex; justify-content: center;">
            <mat-button-toggle-group [(ngModel)]="selectedOption">
              <mat-button-toggle value="option1">
                <h4 style="line-height: 0.9"> 1 </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option2">
                <h4 style="line-height: 0.9"> 2 </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option1">
                <h4 style="line-height: 0.9"> 3 </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option1">
                <h4 style="line-height: 0.9"> >3 </h4>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="filter-sections">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <div class="filter-header">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="stairs"></mat-icon>
              <mat-panel-description class="panels-description">Piano</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <div style="display: flex; justify-content: center;">
            <mat-button-toggle-group [(ngModel)]="selectedOption">
              <mat-button-toggle value="option1">
                <h4 style="line-height: 0.9"> Piano <br> Terra </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option2">
                <h4 style="line-height: 0.9"> Piano <br> Intemedio </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option1">
                  <h4 style="line-height: 0.9"> Ultimo <br> Piano </h4>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="filter-sections">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <div class="filter-header">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="garage"></mat-icon>
              <mat-panel-description class="panels-description">Garage o Posto Auto</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <div style="display: flex; justify-content: center;">
            <mat-button-toggle-group [(ngModel)]="selectedOption">
              <mat-button-toggle value="option1">
                <h4 style="line-height: 0.9"> Garage <br> Singolo </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option2">
                <h4 style="line-height: 0.9"> Garage <br> Doppio </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option1">
                <h4 style="line-height: 0.9"> Posto <br> Auto </h4>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="filter-sections">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <div class="filter-header">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="air"></mat-icon>
              <mat-panel-description class="panels-description">Clima e Riscaldamento</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <div style="display: flex; justify-content: center;">
            <mat-button-toggle-group [(ngModel)]="selectedOption">
              <mat-button-toggle value="option1">
                <h4 style="line-height: 0.9"> Riscaldamento <br> Autonomo </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option2">
                <h4 style="line-height: 0.9"> Riscaldamento <br> Centralizzato </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option1">
                <h4 style="line-height: 0.9"> Aria <br> Condizionata </h4>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="filter-sections">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <div class="filter-header">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bolt"></mat-icon>
              <mat-panel-description class="panels-description">Efficienza Energetica</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <div style="display: flex; justify-content: center;">
            <mat-button-toggle-group [(ngModel)]="selectedOption">
              <mat-button-toggle value="option1">
                <h4 style="line-height: 0.9"> Alta </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option2">
                <h4 style="line-height: 0.9"> Media </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option1">
                <h4 style="line-height: 0.9"> Bassa </h4>
              </mat-button-toggle>
              <mat-button-toggle value="option1">
                <h4 style="line-height: 0.9"> Tutte </h4>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <button type="submit">Applica Filtri</button>
  </form>
</div>
