<div class="filters-container">
  <h3 class="title-filters">Filtri</h3>
  <form>
    <div class="filter-sections">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <div class="filter-header">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="payments"></mat-icon>
              <mat-panel-description class="panels-description">Prezzo</mat-panel-description>
            </div>

          </mat-expansion-panel-header>
          <input class="numberInput" type="number" placeholder="Da" />
          <input class="numberInput" type="number" placeholder="A" />
          <mat-slider min="0" max="1000000">
            <input value="250000" matSliderStartThumb>
            <input value="750000" matSliderEndThumb>
          </mat-slider>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="filter-sections">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <div class="filter-header">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="control_camera"></mat-icon>
              <mat-panel-description class="panels-description">superficie in m²</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <input class="numberInput" type="number" placeholder="Da" />
          <input class="numberInput" type="number" placeholder="A" />
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="filter-sections">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <div class="filter-header">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bedroom"></mat-icon>
              <mat-panel-description class="panels-description">numero dei locali</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <input class="numberInput" type="number" placeholder="Da" />
          <input class="numberInput" type="number" placeholder="A" />
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <label>Superficie in m2</label>
    <input type="number" placeholder="Da" />
    <input type="number" placeholder="A" />

    <label>N° Locali</label>
    <input type="number" placeholder="Da" />
    <input type="number" placeholder="A" />

    <button type="submit">Applica Filtri</button>
  </form>
</div>
